<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Página Simples | Teste 01 - USO DE TEMPLATE</title>
    <style>
      * {
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
</head>

<body>
  
  <h1>Título</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet urna sem. Aenean a arcu tincidunt, tempus magna eu, placerat sapien. Aenean viverra, felis eu pulvinar faucibus, odio mi auctor ex, vel imperdiet sem dolor sit amet arcu. Mauris vitae nulla euismod, maximus massa sed, elementum felis. Duis ipsum erat, sagittis vel tellus vitae, pulvinar sagittis enim. Vestibulum et elit ornare, aliquam erat vel, lacinia libero. Aenean scelerisque nibh eget augue egestas pellentesque. Vestibulum tincidunt elit sit amet eros eleifend feugiat.</p>
  <a href="https://github.com/GabrielDSRodrigues/">Meu Perfil no GitHub</a>
  
</body>

</html>